streamlit
python-dotenv
openai-whisper
sentence-transformers
langchain_text_splitters
qdrant-client
torch
torchvision
pandas
crewai[litellm]
litellm
crewai
groq
autogen-agentchat
autogen-ext
mcp
ddgs
httpx
